<div class="m-2 pt-32 flex flex-col items-center">
  <h2 class="text-3xl md:text-5xl dark:text-white font-bold mb-14 text-center">Bildung</h2>
  <ol class="relative border-s dark:border-white">
    <li class="mb-10 ms-4">
      <div class="timeline-circle"></div>
      <time class="timeline-dates">2016 – 2019</time>
      <h3 class="education-type">Ausbildung Kauffrau EFZ M-Profil</h3>
      <p class="education-location">Altstätten</p>
    </li>
    <li class="mb-10 ms-4">
      <div class="timeline-circle"></div>
      <time class="timeline-dates">2019 – 2020</time>
      <h3 class="education-type">Ausbildung Web Integrator</h3>
      <p class="education-location">St.Gallen</p>
    </li>
    <li class="mb-10 ms-4">
      <div class="timeline-circle"></div>
      <time class="timeline-dates">2021 – 2022</time>
      <h3 class="education-type">Ausbildung Web Developer</h3>
      <p class="education-location">Remote, Grabs</p>
    </li>
    <li class="ms-4">
      <div class="timeline-circle"></div>
      <time class="timeline-dates">2023 – heute</time>
      <h3 class="education-type">Digital Talents Program</h3>
      <p class="education-location">St.Gallen</p>
    </li>
  </ol>
</div>
