<form (ngSubmit)="onSubmit()">
  <div class="space-y-12 mr-4 ml-4">
    <div class="pb-12">
      <h2 class="text-3xl md:text-5xl dark:text-white font-bold mb-6 text-center">Kontakt</h2>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-md font-medium leading-6 text-white pl-1">Vorname</label>
          <div class="mt-2">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" placeholder="Vorname" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-md font-medium leading-6 text-white pl-1">Nachname</label>
          <div class="mt-2">
            <input type="text" name="last-name" id="last-name" autocomplete="family-name" placeholder="Nachname" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="email" class="block text-md font-medium leading-6 text-white pl-1">Email</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" placeholder="Email" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="col-span-full">
          <label for="street-address" class="block text-md font-medium leading-6 text-white pl-1">Strasse</label>
          <div class="mt-2">
            <input type="text" name="street-address" id="street-address" autocomplete="street-address" placeholder="Strasse" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2 sm:col-start-1">
          <label for="postal-code" class="block text-md font-medium leading-6 text-white pl-1">PLZ</label>
          <div class="mt-2">
            <input type="text" name="postal-code" id="postal-code" [(ngModel)]="plz" (change)="getCity()" placeholder="PLZ" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="city" class="block text-md font-medium leading-6 text-white pl-1">Stadt</label>
          <div class="mt-2">
            <select name="city" id="city" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              @for (city of cities; track city.id){
                <option>{{city.name}}</option>
              }
            </select>
          </div>
        </div>

        <div class="col-span-full">
          <label for="message" class="block text-md font-medium leading-6 text-white pl-1">Nachricht</label>
          <div class="mt-2">
            <textarea id="message" name="message" rows="3" placeholder="Nachricht" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 flex items-center justify-center gap-x-6">
    <button type="submit" class="rounded-md bg-gray-900 px-3 py-2 text-md font-semibold text-white shadow-sm hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Senden</button>
  </div>
</form>
